<% provide(:title, 'ホーム') %>
<div style="text-align:center">
  <h1>「はたらく」を面白く </h1>
  <h2>
    月間150万人が利用する、国内最大のビジネスSNS
  </h2>

  <%= link_to "Emailで登録", '/signup', class: "btn btn-lg btn-primary" %>
</div>
